<div class="row">
    <div class="col-lg-6" style="position: relative">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-model="reverseSortState" ng-click="reverseSort()">
                    {{ reverseButtonText() }}
                </button>
            </span>
                <input type="text" ng-model="searchStore" class="form-control" placeholder="Store Name" autofocus/>
        </div>
    </div>
</div>
<button type="button" class="btn btn-default">
  Add Store
</button>
<div>
    <div class="store_panel" ng-repeat="store in stores | filter: searchStore | orderBy: 'name':reverseSortState">
        <div class="row">
            <div class="col-md-12">
                <stores-page-store-display store-name="store.name" store-id="store.id"></stores-page-store-display>
            </div>
        </div>
    </div>
</div>
